<form action="/blogs" method="POST">
  <label for="title">Blog Title:</label>
  <input type="text" name=blog[title] placeholder="title">
  <label for="img-src">Image URL:</label>
  <input type="text" name=blog[image] placeholder="image url">
  <label for="body">Description</label>
  <textarea name=blog[body] cols="30" rows="10"></textarea>
  <input type="submit" value="Create Blog!">
</form>